# Icecast2Matomo entries for Crontab
# To edit a Crontab, run "crontab -e" as the user you want to run jobs as.
# To run as root you can run "sudo crontab -e".

# Run the analytics script every minute to pull Icecast listeners into Matomo, and log the output.
*/1 * * * * /usr/bin/php /path/to/analytics.php >> /var/log/matomo-archive.log

# Run Matomo's archival script every 10 minutes after a 10 second pause (to not interrupt the analytics script), and log the output.
*/10 * * * * sleep 10 ; /path/to/matomo/console core:archive --url=https://matomo.server:port >> /var/log/matomo-archive.log

# Clears the log at 02:00 local time every day.  You can set up logrotate with this instead, if you'd like.
#0 2 * * * cat /dev/null > /var/log/matomo-archive.log
